.card {
  margin-top: 50px;
}

.card img {
  width: 100%;
  object-fit: fill !important;
}

.unflipped-title {
  font-family: 'Moirai One', cursive;
  font-size: 1.8rem;
  position: absolute;
  top: -65px;
}

.details {
  transform: rotateX(180deg);
  position: absolute;
  bottom: 0;
  overflow-y: scroll;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h3 {
  font-size: 1.875rem;
  text-align: center;
  margin: 20px 6px 20px 6px;
}

.card h4 {
  font-size: 0.8rem;
  margin: 0 0 10px 0;
}

.card p {
  font-size: 1rem;
  text-align: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px;
  margin: 0 20px 20px 20px;
}

.button-group {
  margin-top: 10px;
  color: white;
}

.card-button {
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  cursor: pointer;
}

.video-container .project-video {
  margin: 15px;
  width: 90%;
  border: 1px solid black;
}

@media (min-width: 1000px) {
  .unflipped-title {
    font-size: 2.5rem;
    top: -90px;
  }

  .card h3 {
    margin-top: 35px !important;
    font-size: 2.5rem;
    margin: 6px 6px 40px 6px;
  }

  .card h4 {
    font-size: 1rem;
  }

  .card p {
    font-size: 1.2rem;
    margin-left: 0;
  }

  .card-text {
    position: absolute;
    right: 0;
    width: 40%;
  }

  .card img {
    height: 345px;
  }

  .video-container .project-video {
    margin: 0 0 0 20px;
    width: 55%;
  }
}
