.card {
  margin-top: 1.875em;
}

/* main display img  */
.card img {
  width: 100%;
  object-fit: fill !important;
  height: 12.5em;
}

/* main display title  */
.unflipped-title {
  font-family: 'Moirai One', cursive;
  font-size: 1.6em;
  position: absolute;
  top: -2.2em;
}

.hideTitle {
  display: none;
}

/* project details */
.details {
  transform: rotateX(180deg);
  position: absolute;
  bottom: 0;
  overflow-y: scroll;
}

.sub-details {
  flex-direction: column;
}

.card-details-bottom {
  display: flex;
  justify-content: space-evenly;
}

/* flipped header  */
.card h3 {
  font-size: 1.2em;
  text-align: center;
  margin: 1.25em 0.375em 1.25em 0.375em;
}

.card h4 {
  font-size: 0.8rem;
  margin: 0 0 0.675em 0.675em;
}

.card p {
  font-size: 1em;
  text-align: center;
  background-color: transparent;
  border: 1px solid black;
  padding: 0.625em;
  margin: 0 1.25em 1.25em 1.25em;
  overflow-y: scroll;
  height: 6.25em;
}

/* proejct link icons  */
.button-group {
  margin-top: 0.675em;
  color: white;
}

.card-button {
  border: none;
  background-color: transparent;
  font-size: 1.4em;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* project demo vid  */
.video-container .project-video {
  margin: 0.9375em;
  width: 90%;
  border: 1px solid black;
}

@media (min-width: 1000px) {
  .card {
    margin-top: 3.125em;
  }

  /* main display img  */
  .card img {
    height: 21.5624em;
  }

  /* main display title  */
  .unflipped-title {
    font-size: 2.5em;
  }

  /* card details */
  .details {
    overflow-y: visible;
  }

  .card-details-bottom {
    display: block;
  }

  /* flipped header  */
  .card h3 {
    font-size: 2.7em;
    margin: .8em 0.375em .8em 0.375em;
  }

  .card h4 {
    font-size: 1em;
  }

  .card p {
    font-size: 1.2em;
    margin-left: 0;
    padding: 0.625em 0.935em;
    height: 9em;
  }

  .card .card-text {
    position: absolute;
    right: 0;
    width: 40%;
  }

  .card-button {
    margin-top: .1em;
  }

  /* project demo vid  */
  .video-container .project-video {
    margin: 0 0 0 1.25em;
    width: 56%;
  }

  /* blank div for smooth transition of card flip  */
  .empty-vid-container {
    height: 300px;
    width: 560px;
    margin-left: 20px;
  }
}
