.contact {
  position: relative;
  z-index: 1;
}

.form-group {
  align-items: flex-start;
  width: 85%;
  height: 60%;
  padding-top: 10px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: white;
  top: 120px;
  padding: 10px;
}

.email-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  font-size: 0.8rem;
  font-weight: lighter;
}

.email-header:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 96%;
}

textarea {
  width: 88%;
  height: 250px;
  margin-left: 4px;
  resize: vertical;
  font-size: 0.7rem;
  border: none;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

button[type='submit'] {
  background-color: #F7F3E3;
  border-style: none;
  border-radius: 6px;
  height: 45px;
  font-size: 1.3rem;
  color: black;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .contact {
    top: 50px;
  }

  .email-header {
    font-size: 1rem;
    margin-left: 22px;
  }

  .form-group {
    width: 70%;
    height: 550px;
    top: 20px;
    padding: 0;
  }

  textarea {
    width: 93%;
    height: 320px;
    font-size: 1rem;
    padding: 15px;
  }

  button[type='submit'] {
    font-size: 1.5rem;
    top: 10px;
  }
}
