/* video */
.landing-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.2;
  position: absolute;
}

/* header  */
.landing-container h1 {
  z-index: 1;
  font-size: 3.75em;
  margin: .2em 0;
  font-weight: lighter;
  padding: 0;
  width: 900px;
}

.first-name, .surname {
  position: absolute;
  left: 10px;
}

.first-name {
  top: 0;
}

.surname {
  top: 13%;
}

/* icons  */
.contact-link-header {
  display: flex;
  justify-content: center;
  font-size: 2.2em;
  margin: 0 0.4em 0 0.2em;
  cursor: pointer;
  font-style: normal;
  align-items: center;
}

.contact-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
}

.contact-link-header:hover {
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  transform: scale(1.3);
}

/* nav  */
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav-link {
  font-size: 1.1em;
  list-style: none;
  margin: 0 0.975em 0 0;
  margin-top: .5em;
  cursor: pointer;
}

/* corner fold */
.corner-fold .fold::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 2em 0 0 2em;
  border-color: #ddd #344;
  transition: all ease 0.4s;
}

.corner-fold:hover .fold::before {
  border-width: 13.5em 0 0 13.5em;
}

/* corner fold display img  */
.portfolio-v1 {
  position: absolute;
  background-image: url('./images/v1-corner.png');
  opacity: 0;
}

.corner-fold h3 {
  position: absolute;
  bottom: -8px;
  left: 35px;
  font-size: 0.75em;
}

.corner-fold:hover h3 {
  display: none;
}

@media (min-width: 1000px) {
  /* header  */
  .landing-container h1 {
    font-size: 10em;
    padding: 20px;
  }

  .first-name {
    top: -60px;
    right: 0;
  }

  .surname {
    top: 120px;
    right: 0;
  }

  /* nav  */
  .navigation {
    font-size: 1.56em;
  }

  /* icons  */
  .contact-links {
    flex-direction: row;
    margin-left: 1em;
  }
}
