.landing-container {
  max-width: 100%;
  overflow: hidden;
  background-color: rgb(208, 206, 206);
}

/* video */
.landing-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 0.2;
  position: absolute;
}

/* header  */
.landing-container h1 {
  z-index: 1;
  font-size: 3.75em;
  margin: .1em 0;
}

.first-name, .surname {
  position: absolute;
  font-family: 'Moirai One', cursive;
  right: 10px;
}

.first-name {
  top: 0;
}

.surname {
  top: 13%;
}

/* icons  */
.contact-link-header {
  display: flex;
  justify-content: center;
  font-size: 2.2em;
  margin: 0.2em 0 0 0.3em;
  cursor: pointer;
  font-style: normal;
}

.contact-links {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  background-color: transparent;
  position: absolute;
  bottom: 7%;
  left: 0;
}

.contact-link-header:hover {
  box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
  transform: scale(1.3);
}

/* nav  */
.navigation {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.25em;
  list-style: none;
  margin: 0 0.975em 0 0;
}

.nav-link {
  margin-bottom: 1.25em;
  cursor: pointer;
}

/* corner fold */
.fold::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: solid;
  border-width: 2.5em 0 0 2.5em;
  border-color: #ddd #344;
  transition: all ease 0.4s;
}

  /* portfolio display  */
  .portfolio-v1 {
    position: absolute;
    bottom: -26px;
    left: -26px;
    background-size: cover;
    width: 5em;
    height: 5em;
    background-image: url('./images/v1-corner.png');
    opacity: 0;
  }

@media (min-width: 1000px) {
   /* video  */
   .landing-video {
    max-height: 100%;
    top: 0;
  }

  /* header  */
  .landing-container h1 {
    font-size: 10em;
    padding: 20px;
  }

  .first-name {
    top: -60px;
    right: 0;
  }

  .surname {
    top: 120px;
    right: 0;
  }

  /* nav  */
  .navigation {
    font-size: 1.56em;
    margin: 0 1em 0 0;
  }

  /* icons  */
  .contact-links {
    top: -15px;
  }

  /* corner fold  */
  .fold::before {
    border-width: 6.25em 0 0 6.25em;
  }

  .fold:hover::before {
    border-width: 13.43em 0 0 13.43em;
    border-color: #eee transparent;
  }

  /* portfolio display  */
  .portfolio-v1 {
    bottom: -130px;
    left: -135px;
    width: 25.3em;
    height: 25.3em;
    transition: opacity 0.9s ease-in-out;
    visibility: hidden;
  }

  .fold:hover .portfolio-v1 {
    opacity: 1;
    visibility: visible;
  }
}
